# Informações do Banco de Dados
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=


# Chaves de Segurança
PASS_PEPPER=
SAVEBOX_JWT_SECRET=


# APIs Externas (Email)
RESEND_API_KEY=
EMAIL_VALIDATION_API_KEY=


# APIs Externas 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Configurações do Armazenamento
SAVEBOX_STORAGE_PATH=


# CORS
CORS_ORIGIN=


# PORTA
PORT=

# Informações do Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=